################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp27/.vs/WebApp27/FileContentIndex
/WebApp27/.vs/WebApp27/config
/WebApp27/.vs/WebApp27/DesignTimeBuild
